<header>
  <h1><a href="/admin">Painel Admin</a></h1>
  <nav>
    <a href="/users">Gerenciar contas de usuarios</a>
    <a href="/rooms">Gerenciar salas e recursos</a>
    <a href="/xlsx">Extrair checklists em Planilha</a>
  </nav> 
</header>