* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

header {
  position: sticky;
  top: 2px;
  margin: 10px;
  margin-bottom: 0;
  border: 2px solid black;
  background-color: #005ae0;
}

header a {
  color: black;
  text-decoration: none;
}

h1 a {
	color: white
}

nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

nav a {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  margin: 5px;
  text-decoration: none;
}

nav a:hover {
  background-color: #00a4f7;
}

@media (min-width: 770px) {
  nav {
    grid-template-columns: repeat(3, 1fr);
  }
  article {
    display: grid;
    grid-template-columns: 270px 2fr repeat(2, 1fr);
  }
}

main {
  margin: 10px;
  background-color: #ecf0f1;
  border: 2px solid black;
  min-height: 78vh;
}

main > p {
  margin-bottom: 5px;
}

section {
  text-align: center;
}

article {
  background-color: white;
  border: 3px solid black;
  text-align: left;
  margin: 5px;
  padding: 5px;
}

article > section {
  border: 2px dotted #e74c3c;
  margin: 5px;
  text-align: left;
  grid-column: 2;
}

article p {
  grid-row: 1;
}

footer {
	color: white;
  position: sticky;
  bottom: 2px;
  margin: 10px;
  margin-top: 0;
  border: 2px solid black;
  background-color: #005ae0;
}

footer a {
	color: white;
}
