* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
     font-family: Magistral;
     src: url('/fonts/MGBOLD.TTF');
}

body {
  font: 18px Magistral;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

header {
  font-size: 16px;
  margin: 8px;
}

#preview {
  height: 350px;
  width: 350px;
  margin: 0 auto;
}

section {
  margin: 0 auto;
  margin-top: 20px;
  width: 350px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

input,
select {
  font-size: 18px;
}

footer {
  margin-top: 20px;
}
