* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
     font-family: 'Magistral';
     src: url('/fonts/MGBOLD.TTF') format('truetype');
		 font-weight: normal;
     font-style: normal;
}

body {
  font-size: 18px; 
	font-family: "Magistral";
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

header {
  margin: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  width: 350px;
  margin: 0 auto;
}

main > label {
	color: white; 
  border: 2px solid black;
  background-color: #005ae0;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

label {
  display: block;
}

label p {
  display: inline-block;
  position: relative;
  top: -15px;
  font-weight: bold;
}

.qt {
  display: table-cell;
  position: relative;
  left: 300px;
  top: 10px;
  border: 2px solid black;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  box-shadow: inset -10px -10px 10px #00a4f7, inset 3px 3px 5px #006be5;
  background-color: #0053de;
  vertical-align: middle;
}

input[type="checkbox"] {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 25px;
  width: 35px;
}

select {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 25px;
  width: 200px;
}

textarea {
  width: 200px;
}

input[type="submit"] {
  border: 2px solid black;
  font-size: 18px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}

footer {
  margin-bottom: 8px;
}
