* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
	font-family: 'Magistral';
	src: url('/fonts/MGBOLD.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
  font-size: 18px;
	font-family: "Magistral";
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

header {
  position: sticky;
  top: 2px;
  margin: 10px;
  margin-bottom: 0;
  border: 2px solid black;
  background-color: #005ae0;
}

header a {
  color: black;
  text-decoration: none;
}

h1 a {
	color: white;
}

nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

nav a,
button {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  margin: 5px;
}

button {
  height: 35px;
  width: 150px;
  cursor: pointer;
}

nav a:hover,
section a:hover,
button:hover {
  background-color: #00a4f7;
}

main {
  margin: 10px;
  background-color: #ecf0f1;
  border: 2px solid black;
  min-height: 78vh;
}

main > p {
  font-style: italic;
  margin-bottom: 5px;
}

section a {
  background-color: white;
  border: 3px solid #2ecc71;
  color: black;
  display: block;
  margin: 5px;
  padding: 5px;
  text-align: left;
  text-decoration: none;
}
section a:hover::after {
  content: "  ❗😬 ";
}

footer {
  position: sticky;
  bottom: 2px;
  margin: 10px;
  margin-top: 0;
  border: 2px solid black;
  background-color: #005ae0;
}

footer a {
	color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  font-size: 20px;
  background-color: #2ecc71;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-content: center;
  grid-gap: 10px;
  margin: 10px auto;
  padding: 10px;
}

input {
  text-align: center;
  height: 35px;
}

input[type="submit"] {
  border-radius: 10px;
}

@media (min-width: 770px) {
  nav {
    grid-template-columns: repeat(3, 1fr);
  }
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  form {
    grid-template-columns: repeat(2, 1fr);
    height: 150px;
    width: 500px;
  }
  input[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
